body {
    margin: 0;
    padding: 0;
}

.nes-btn {
    margin: 10px !important;
}

.nes-avatar {
    margin: 5px;
}

.nes-icon {
    margin-left: 5px;
    margin-right: 5px;
}

html, body, pre, code, kbd, samp  {
    font-family: "Press Start 2P";
}
#root {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 1024px;
        display: flex;
    flex-direction: column;
    gap: 10px;
}